//
// Helper Classes
//

// Align

.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }
.text-just      { text-align: justify; }


// Display

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.hidden       { display: none; }


// Lists

.no-bullets     { list-style: none; }
.list-bare {
  margin: 0;
  padding: 0;
  @extend .no-bullets;
}


// Clearfix

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}


// Colors & Background

.grey { color: #929292; }
.white-bg { background-color: #fff; }
.padding-half { padding: 1rem; }


// Lists

.no-bullets     { list-style: none; }
.bullets-inside { list-style: inside; }
.list-bare {
  margin: 0;
  padding: 0;
  @extend .no-bullets;
}


// Box Model

.hide { display: none; }
.margin-bottom-one { margin-bottom: 1rem; }


// Circle

.circle { border-radius: 50%; }
