//
// Profile Card
//

.profile {
  padding: 5px;
  background: #fff;
  border-radius: 4px;
}

.profile-header {
  position: relative;
  margin-bottom: 3rem;
}

.profile-avatar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-avatar-img {
  padding: 2px;
  background-color: #fff;
}
