.profile.margin-bottom-one{itemscope: "", itemtype: "http://schema.org/Person"}

  .profile-header
    .flex-embed
      %img.flex-embed-item{ng-src: "{{ profile.profile_banner_image_url }}", alt: "{{ profile.name }} Profile Banner Image"}

    .profile-avatar
      %img.profile-avatar-img.avatar-medium.circle{itemprop: "image", ng-src: "{{ profile.profile_image_url }}", alt: "{{ profile.name }} Profile Image"}

  .text-center
    %h4.profile-name{itemprop: "name"} {{ profile.name }}

    %p.profile-bio{itemprop: "description"}
      {{ profile.description }}

    %trust-button

    %ul.stats.list-bare.clearfix
      %li.stat
        %span.stat-value {{ profile.level }}
        %span.stat-label Level

      %li.stat
        %span.stat-value {{ profile.awards }}
        %span.stat-label Awards

      %li.stat
        %span.stat-value {{ profile.trusters }}
        %span.stat-label Trusters
