.large-12.column{itemprop: "review", itemscope itemtype="http://schema.org/Review"}
  .white-bg.padding-half.margin-bottom-one
    .row

      .large-2.column.text-center
        %a.block{href: "#"}
          %img.circle.avatar{ng-src: "{{ review.user.image_url }}", alt: "{{ review.user.name }} Profile Image"}
          %small.block{itemprop: "author"} {{ review.user.name | getFirstName }}

      .large-10.column
        .clearfix
          .left
            %a{href: "#", itemprop: "name"} {{ review.store.name }}

          .right
            .rating{review-rating: , rating-value: "review.rate", rating-max: "5"}

        %p{itemprop: "description"} {{ review.description }}

        .block.small.grey{itemprop: "datePublished"} {{ review.created_at | date:'MMM yyyy' }}
